body{
     font-family: 'Poppins', sans-serif;
     margin: 0;
}
h1{
     font-size: 50px;
     
}
h2{
     font-size:40px;
}
.orange-color{
     color: orange;
     
}
.flexible-container{
     display: flex;
     margin-bottom: 200px;
}
.half-width{
     width: 50%;
     padding-left: 5%;
}
.half-width img{
     width:80%;
     border-radius: 25px;
     
}

.link-button{
     text-decoration: none;
     background-image: linear-gradient(orange,tomato);
     color: white;
     font-weight: 700px;
     padding: 10px 40px;
     border-radius: 10px;
}
.top-banner{
     background-image: url(images/top-banner.png);
     background-repeat: no-repeat;
}

.dream-big{
     background-image: url(images/dream-bg.png);
     background-repeat: no-repeat;
     background-position-x: right;
}
.experience-area{
     background-image: url(images/exp-bg.png);
     background-repeat: no-repeat;
     background-position: left;
}
.experience-item{
     width: 40%;
     margin-left: 5%;
     margin-right: 5%;
     padding: 5%;
     box-shadow: 10px 10px 40px gray;
     border-radius: 10px;
     
}
#fullstack-dev-experience{
     border-left:7px solid;
     border-image: linear-gradient(blue,cyan);
     border-image-slice: 1;
     
}

#junior-dev-experience{
     border-left:7px solid;
     border-image: linear-gradient(blue,tomato);
     border-image-slice: 1;
}

footer p{
     text-align: center;
}
